<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <style>h1{color: red;}</style>
    <style>h2{color: blue; font-size:22px;}</style>

    <meta charset="UTF-8">
    <title>Сеть студий <<AZONE>></title>
    <link href="{% static 'css/styles.css' %}"rel="stylesheet">
</head>
<body>
      <h1 style="text-align: center;">Аппаратный массаж LPG</h1>
      <h2 style="text-align: center;">Лина все сделает просто супер!!!</h2>
      <img src="{% static 'images/image1.jpg' %}">  
</body>
</html>